## Data Structures:
Data structures deal with how the data is organized and held in the memory when a program processes it.

Basic Data Structures:
    1. Strings
    2. Lists
    3. Tuples
    4. Dictionary

# 1. Strings: 
Strings are amongst the most popular types in Python. We can create them simply by enclosing characters in quotes. Python treats single quotes the same as double quotes.

In [1]:
string1 = "Learn to Program"

In [2]:
type(string1)

str

In [3]:
string1

'Learn to Program'

# Strings Indexing and slicing
 <h3>
            Indexing
        </h3>
        <p>
            An index is a position within the string. Positive indices count from the left-hand side with the first character at index 0, the second at index 1, and so on. Negative indices count from the right-hand side with the last character at index -1, the second last at index -2, and so on. For the string <code>"Learn to Program"</code>, the indices are:<br>
            <img src="http://spark-public.s3.amazonaws.com/programming1/lecture_summaries/week4/index.png">
        </p>

In [4]:
# To access substrings, we use the square brackets

string1[3]

'r'

In [5]:
# Slicing a string object use ( : operator)

string1[2:7]           # left operand is the start value and right operand is the end value (upto but not including).

'arn t'

In [27]:
string1[:8]

'Learn to'

In [28]:
string1[3:]

'rn to Program'

In [29]:
string1[:]

'Learn to Program'

In [30]:
string1[-1]

'm'

In [33]:
string1[-6:-1]

'rogra'

In [7]:
string1[1:-8]

'earn to'

### Strings are immutable

In [8]:
string1[2]='b'

TypeError: 'str' object does not support item assignment

In [9]:
string2 = string1[4] + 'ote'
string2

'note'

### Built-in functions on strings

In [10]:
print(len(string1))
print(min(string1))
print(max(string1))

16

t

### 'in' and 'not in' operators

In [14]:
'p' in string1

False

In [40]:
'z' not in string1

True

### loop through strings

In [41]:
for i in string1:
    print(i)

L
e
a
r
n

t
o

P
r
o
g
r
a
m

### Exercise 1: Find the number of 'a' present in string : "Learn to Program"

In [15]:
cnt=0
for i in string1:
    if i == 'a':
        cnt +=1
print(cnt)

2

### String Comparision

In [21]:
word = 'pie'

In [20]:
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

Your word,apple, comes before banana.

### String methods

In [22]:
dir(string1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [52]:
print(string1.lower())
print(string1.upper())
print(string1.capitalize())

learn to program
LEARN TO PROGRAM
Learn to program

### Some important methods

In [24]:
string1.replace('a','o', 1)

'Leorn to Program'

In [54]:
string1.count('a')

2

In [26]:
print(string1.startswith('learn'))
print(string1.endswith('m'))

False
True

In [31]:
s1 = "    Bad String#######"

In [34]:
print(s1.lstrip())
print(s1.rstrip('#'))
print(s1.strip('#'))

Bad String#######
    Bad String
    Bad String

In [38]:
string1='Learn to Program'
string1.split('-')

['Learn to Program']

In [39]:
string1.find('n')

4

In [41]:
string1.find('a',3)

14

### Excercise 1: Write a code to extract the string 'uct.ac.za' from the below string object:
### data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'

In [44]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'

In [65]:
atpos = data.find('@')
atpos

21

In [66]:
sppos= data.find(" ",atpos)
sppos

31

In [67]:
result = data[atpos+1 : sppos]
result

'uct.ac.za'

### Escape sequences and raw string

In [59]:
string1 = 'Wow, you \'re dripping wet.'

"Wow, you 're dripping wet."

In [50]:
string1

"Wow, you 're dripping wet."

In [54]:
path = "c:\\Pranali\\newFolder\\toy"

In [55]:
print(path)

c:\Pranali\newFolder\toy

In [56]:
path1 = r'c:\Pranali\newFolder\toy'

In [57]:
print(path1)

c:\Pranali\newFolder\toy

In [74]:
string1 = 'hello\nworld'
string1

'hello\nworld'

In [75]:
print(string1)

hello
world

### String formatting operators

In [76]:
print("Hi this is %s class and we are studying %s data structure" % ('Python','Strings'))
print("The student with roll %d, name %s have scored %f marks" % (2,'Parth',98.56))

Hi this is Python class and we are studying Strings data structure
The student with roll 2, name Parth have scored 98.560000 marks

In [60]:
print("Hi this is {} class and we are studying {} data structure".format('Python','Strings'))
print("The student with roll {}, name {} have scored {} marks".format(2,'Parth',98.56))

Hi this is Python class and we are studying Strings data structure
The student with roll 2, name Parth have scored 98.56 marks

# 2. Lists:

List is a collection of comma-separated values between square brackets.

In [68]:
friends = ['Joseph','Glenn', 'Sally']

In [69]:
type(friends)

list

In [70]:
lst1 = [10,20,30,40,50,60]
lst1

[10, 20, 30, 40, 50, 60]

### List Indexing and Slicing

In [71]:
lst1[2]

30

In [72]:
lst1[2:5]

[30, 40, 50]

In [73]:
lst1[-1]

60

### Lists are mutable

In [74]:
lst1[4]=80

In [75]:
lst1

[10, 20, 30, 40, 80, 60]

### Lists are heterogenous

In [77]:
l1 = [1,'parth',5.5,[78,69,89]]

In [82]:
l1[3]

[78, 69, 89]

### Built-in Functions

In [83]:
print(len(lst1))
print(min(lst1))
print(max(lst1))
print(sum(lst1))

6
10
80
240

### "in" and "not in" operators

In [85]:
10 in lst1

True

In [86]:
15 not in lst1

True

### loop through a list

In [92]:
for i in lst1:
    print(i)

10
20
30
40
80
60

### Use of range() for looping through list

In [84]:
range(1,10,2)

range(0, 5)

In [92]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [93]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [94]:
for i in range(len(lst1)):
    print(lst1[i])

10
20
30
40
80
60

### Exercise 1: Create a list with the elements 1,2,3,4,5 and sqaure each element and store back it in a list.

In [95]:
num = [1,2,3,4,5]
for i in range(len(num)):
    num[i]=num[i]**2
print(num)

[1, 4, 9, 16, 25]

### List methods

In [99]:
list1 = []

In [100]:
list1

[]

In [105]:
list1.append(10)

In [106]:
list1

[10, 20, 10]

In [107]:
list1.count(10)

2

In [108]:
list1.insert(2,40)

In [109]:
list1

[10, 20, 40, 10]

In [110]:
list1.pop()

10

In [111]:
list1.remove(40)

In [112]:
list1

[10, 20]

In [113]:
list1.reverse()
list1

[20, 10]

In [114]:
list1.clear()
list1

[]

### Excercise 2: Extract 'uct.ac.za' from the following string object: 
### line = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'

In [115]:
line = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'

In [116]:
words = line.split()
print(words)
email = words[1]
host = email.split('@')
host[1]

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']

'uct.ac.za'

In [119]:
host=line.split()[1].split('@')[1]
host

'uct.ac.za'

### Nested Lists

In [120]:
grades = [['Assignment 1', 80], ['Assignment 2', 90], ['Assignment 3', 70]]
print(grades[0])
print(grades[1])
print(grades[2])

['Assignment 1', 80]
['Assignment 2', 90]
['Assignment 3', 70]

In [123]:
sublist = grades[0]
sublist

['Assignment 1', 80]

In [124]:
sublist[1]

80

In [127]:
sublist[1]

70

In [128]:
grades[0][0]

'Assignment 1'

In [129]:
grades[0][1]

80

In [125]:
print(grades[0])

['Assignment 1', 80]

### Assignment 2: For the given grades list grades = [[10,20,30],[40,50,60],[70,80,90]]. Calculate the average of each sublist and append it to new list averages.

In [1]:
grades = [[10,20,30],[40,50,60],[70,80,90]]

In [2]:
averages = list()

In [132]:
for grades_list in grades:
        total = 0
        for marks in grades_list:
            total = total + marks
        averages.append(total / len(grades_list))
print(averages)

[20.0, 50.0, 80.0]

In [3]:
for grade_list in grades:
    averages.append(sum(grade_list)/len(grade_list))
print(averages)

[20.0, 50.0, 80.0]

# 3. Tuples:
Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples are immutable ie: cannot be changed like lists and tuples use parentheses, whereas lists use square brackets.

In [126]:
tup1 = ("Glenn","Sally","Joseph")

In [127]:
type(tup1)

tuple

### Indexing and Slicing

In [128]:
tup1[2]

'Joseph'

In [129]:
tup1[1:3]

('Sally', 'Joseph')

### Tuples are immutable

In [130]:
tup1[1]='George'

TypeError: 'tuple' object does not support item assignment

### Built-in functions

In [140]:
print(len(tup1))
print(max(tup1))
print(min(tup1))

3
Sally
Glenn

### "in" and "not in" operator

In [131]:
'alice' in tup1

False

In [132]:
'Sally' not in tup1

False

### Loop through tuples

In [145]:
for i in tup1:
    print(i)

Glenn
Sally
Joseph

In [146]:
for i in range(len(tup1)):
    print(tup1[i])

Glenn
Sally
Joseph

### Tuples methods

In [133]:
t=(10,10,20,30,30,30)
print(t.count(30))
print(t.index(20))

3
2

### Tuples comparision

In [148]:
(9,1,1,2)>(9,4,3,3,1)

False

In [150]:
(1,2,3)==(1,2,3)

True

# 4. Dictionary:
Dictionary is an unordered collection of elements where each element is represented as a "key:value" pair enclosed in { }.

In [11]:
purse= dict()
purse

{}

In [12]:
purse['money']=12

In [13]:
purse['candy']= 5

In [14]:
purse['tissues']=75

In [15]:
purse

{'money': 12, 'candy': 5, 'tissues': 75}

### Indexing

In [16]:
purse[1]

KeyError: 1

In [17]:
purse['candy']

5

### Properties of key:
### 1. Keys are unique
### 2. Keys are of immutable type ie: strings or int

In [18]:
purse['perfume']= 1

In [19]:
purse

{'money': 12, 'candy': 5, 'tissues': 75, 'perfume': 1}

In [20]:
purse['candy'] = 10
purse

{'money': 12, 'candy': 10, 'tissues': 75, 'perfume': 1}

In [21]:
purse[1]='coins'
purse

{'money': 12, 'candy': 10, 'tissues': 75, 'perfume': 1, 1: 'coins'}

### "in" and "not in" Operator

In [161]:
'candy' in purse

True

In [162]:
'coins' not in purse

True

### Dictionary methods

In [22]:
purse.keys()

dict_keys(['money', 'candy', 'tissues', 'perfume', 1])

In [23]:
purse.values()

dict_values([12, 10, 75, 1, 'coins'])

In [24]:
purse.items()

dict_items([('money', 12), ('candy', 10), ('tissues', 75), ('perfume', 1), (1, 'coins')])

### loop through dictionary

In [25]:
for i in purse:
    print(i)

money
candy
tissues
perfume
1

In [26]:
# use two iterative variable to iterate over keys and values in dictionary

for i,j in purse.items():
    print('key = ',i)
    print('value = ', j)

key =  money
value =  12
key =  candy
value =  10
key =  tissues
value =  75
key =  perfume
value =  1
key =  1
value =  coins

### Creating word count dictionary for a list of names

In [4]:
names = ['Rahul','Priya','Rahul','Puja','Rahul','Priya']

In [5]:
counts = dict()
counts

{}

In [10]:
counts = dict()
for i in names:
    if i in counts:
        counts[i]=counts[i]+1
    else :
        counts[i]=1
print(counts)

{'Rahul': 3, 'Priya': 2, 'Puja': 1}

### use of get() in dictionary

In [11]:
counts=dict()
for i in names:
    counts[i]=counts.get(i,0)+1
print(counts)

{'Rahul': 3, 'Priya': 2, 'Puja': 1}

### Exercise 3: Take a text from the user and create a count dictionary for that text.

Enter the following text:

<b> "the clown ran after the car and the car ran into the tent and the tent fell down on the clown and the car"

In [12]:
counts = dict()
inptext = input("Enter the text : ")
inptext_list = inptext.split()
for word in inptext_list:
    counts[word]=counts.get(word,0)+1
print(counts)

Enter the text : the clown ran after the car and the car ran into the tent and the tent fell down on the clown and the car
{'the': 7, 'clown': 2, 'ran': 2, 'after': 1, 'car': 3, 'and': 3, 'into': 1, 'tent': 2, 'fell': 1, 'down': 1, 'on': 1}

### Exercise 4: Find the word with maximum count in the dictionary created above.

In [16]:
for i,j in counts.items():
    if j == max(counts.values()):
        print('key with max count is : ', i,j)

key with max count is :  the 7

### Inverting a dictionary

In [185]:
invertdict={}
mydict = {'george':16,'amber':19}
for name in mydict:
        invertdict[mydict[name]]=name
invertdict

{16: 'george', 19: 'amber'}

### Exercise 5: Invert the following dictionary:

fruit_to_colour = {'watermelon': 'green', 'pomegranate': 'red',
'peach': 'orange', 'cherry': 'red', 'pear': 'green',
'banana': 'yellow', 'plum': 'purple', 'orange': 'orange'}

In [186]:
fruit_to_colour = {'watermelon': 'green', 'pomegranate': 'red',
'peach': 'orange', 'cherry': 'red', 'pear': 'green',
'banana': 'yellow', 'plum': 'purple', 'orange': 'orange'}
fruit_to_colour

{'watermelon': 'green',
 'pomegranate': 'red',
 'peach': 'orange',
 'cherry': 'red',
 'pear': 'green',
 'banana': 'yellow',
 'plum': 'purple',
 'orange': 'orange'}

In [187]:
colour_to_fruit={}
for fruit in fruit_to_colour:
        colour_to_fruit[fruit_to_colour[fruit]]=fruit
colour_to_fruit

{'green': 'pear',
 'red': 'cherry',
 'orange': 'orange',
 'yellow': 'banana',
 'purple': 'plum'}

In [188]:
colour_to_fruit={}
for fruit in fruit_to_colour:
    if fruit_to_colour[fruit] not in colour_to_fruit:
        colour_to_fruit[fruit_to_colour[fruit]]= [fruit]
    else:
        colour_to_fruit[fruit_to_colour[fruit]].append(fruit)
colour_to_fruit

{'green': ['watermelon', 'pear'],
 'red': ['pomegranate', 'cherry'],
 'orange': ['peach', 'orange'],
 'yellow': ['banana'],
 'purple': ['plum']}

### Sorting list of tuples for a dictionary

In [183]:
sorted(counts.items())

[('after', 1),
 ('and', 3),
 ('car', 3),
 ('clown', 2),
 ('down', 1),
 ('fell', 1),
 ('into', 1),
 ('on', 1),
 ('ran', 2),
 ('tent', 2),
 ('the', 7)]

In [190]:
temp = {}
for a, b in counts.items():
    temp[b]= a
print(temp)
print(temp.items())
sorted(temp.items(),reverse = True)

{7: 'the', 2: 'tent', 1: 'on', 3: 'and'}
dict_items([(7, 'the'), (2, 'tent'), (1, 'on'), (3, 'and')])

[(7, 'the'), (3, 'and'), (2, 'tent'), (1, 'on')]