In [1]:
import pandas as pd
import numpy as np

## Reading .csv files in Python

In [2]:
Automobile = pd.read_csv("Automobile_data.csv")
Automobile.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

## Reading .txt files

In [3]:
hotdogs = pd.read_table("hotdogs.txt")
hotdogs.head()

   Beef  186  495
0  Beef  181  477
1  Beef  176  425
2  Beef  149  322
3  Beef  184  482
4  Beef  190  587

## Reading .xls or .xlsx files

In [4]:
weather = pd.read_excel('weather.xlsx')
weather.head()

,X,year,month,measure,X1,X2,X3,X4,X5,X6,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
0,1,2014,12,Max.TemperatureF,64,42,51,43,42,45,...,44,47,46,59,50,52,52,41,30,30
1,2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,...,39,45,44,52,44,45,46,36,26,25
2,3,2014,12,Min.TemperatureF,39,33,37,30,26,38,...,33,42,41,44,37,38,40,30,22,20
3,4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,...,39,45,46,58,31,34,42,26,10,8
4,5,2014,12,MeanDew.PointF,40,27,42,21,25,40,...,34,42,44,43,29,31,35,20,4,5

## Reading .json file

In [5]:
zips = pd.read_json('zips.json', lines=True)
zips.head()

    _id         city                      loc    pop state
0  1001       AGAWAM  [-72.622739, 42.070206]  15338    MA
1  1002      CUSHMAN   [-72.51565, 42.377017]  36963    MA
2  1005        BARRE  [-72.108354, 42.409698]   4546    MA
3  1007  BELCHERTOWN  [-72.410953, 42.275103]  10579    MA
4  1008    BLANDFORD  [-72.936114, 42.182949]   1240    MA

## Reading file from url

In [7]:
import urllib
#from urllib.request import urlopen

In [8]:
f = urllib.request.urlopen('https://storage.googleapis.com/dimensionless/python/files/In-Flanders-Fields.txt')           
text = f.read()
print(str(text,'utf-8'))

In Flanders Fields

In Flanders fields the poppies blow
Between the crosses, row on row,
That mark our place; and in the sky
The larks, still bravely singing, fly
Scarce heard amid the guns below.

We are the Dead. Short days ago
We lived, felt dawn, saw sunset glow,
Loved and were loved, and now we lie
In Flanders fields.

Take up our quarrel with the foe:
To you from failing hands we throw
The torch; be yours to hold it high.
If ye break faith with us who die
We shall not sleep, though poppies grow
In Flanders fields.

-John McCrae

## Connecting with mysql database

In [9]:
! pip install pymysql

Requirement already satisfied: pymysql in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (0.9.2)
Requirement already satisfied: cryptography in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pymysql) (2.3.1)
Requirement already satisfied: idna>=2.1 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cryptography->pymysql) (2.7)
Requirement already satisfied: asn1crypto>=0.21.0 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cryptography->pymysql) (0.24.0)
Requirement already satisfied: six>=1.4.1 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cryptography->pymysql) (1.11.0)
Requirement already satisfied: cffi!=1.11.3,>=1.7 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cryptography->pymysql) (1.11.5)
Requirement already satisfied: pycparser in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cffi!=1.11.3,>=1.7->cryptography->pymysql) (2.19)
WARNING: You are using pip version 19.2.2, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [10]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (1.2.14)
WARNING: You are using pip version 19.2.2, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [11]:
! pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/30/db/9e38760b32e3e7f40cce46dd5fb107b8c73840df38f0046d8e6514e675a1/pip-19.2.3-py2.py3-none-any.whl (1.4MB)
     |████████████████████████████████| 1.4MB 2.7MB/s eta 0:00:01
Installing collected packages: pip
  Found existing installation: pip 19.2.2
    Uninstalling pip-19.2.2:
      Successfully uninstalled pip-19.2.2
Successfully installed pip-19.2.3

In [12]:
import sqlalchemy

### Connecting to a Remote Database

In [13]:
engine1 = sqlalchemy.create_engine('mysql+pymysql://student:Student@123@34.196.205.34:3306/dognition')

<b> Format of connection string is:

<b> <i> mysql+pymysql://username:password@host:port/database_name

In [14]:
dogs = pd.read_sql_table('dogs',engine1)
dogs.head()

,gender,birthday,breed,weight,dog_fixed,dna_tested,created_at,updated_at,dimension,exclude,...,breed_group,dog_guid,user_guid,total_tests_completed,mean_iti_days,mean_iti_minutes,median_iti_days,median_iti_minutes,time_diff_between_first_and_last_game_days,time_diff_between_first_and_last_game_minutes
0,female,2011,Labrador Retriever,50,1,0,2013-02-05 03:57:19,2013-07-25 19:41:49,charmer,0,...,Sporting,fd27b272-7144-11e5-ba71-058fbc01cf0b,ce134e42-7144-11e5-ba71-058fbc01cf0b,21,28.20107581,40609.549167,0.004687499952,6.7499999308,564.0215162,812190.98333\r
1,male,2007,Shetland Sheepdog,20,1,0,2013-02-05 15:35:09,2013-07-25 19:41:49,protodog,0,...,Herding,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,ce1353d8-7144-11e5-ba71-058fbc01cf0b,20,0.41330713937,595.1622807,0.0058449074865,8.4166667806,7.8528356481,11308.083333\r
2,male,2012,Golden Retriever,70,0,1,2013-02-05 17:22:56,2013-07-25 19:41:49,,0,...,Sporting,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,ce135ab8-7144-11e5-ba71-058fbc01cf0b,2,0.0091319445066,13.15000009,0.0091319445066,13.15000009,0.0091319445066,13.15000009\r
3,male,2011,Golden Retriever,70,0,0,2013-02-05 17:40:57,2014-05-30 15:52:53,,0,...,Sporting,fd27b79a-7144-11e5-ba71-058fbc01cf0b,ce13507c-7144-11e5-ba71-058fbc01cf0b,11,56.115179398,80805.858333,0.0044328703647,6.3833333252,561.15179398,808058.58333\r
4,female,2010,Shih Tzu,190,0,0,2013-02-05 18:12:28,2014-05-30 15:52:54,einstein,1,...,Toy,fd27b86c-7144-11e5-ba71-058fbc01cf0b,ce135e14-7144-11e5-ba71-058fbc01cf0b,31,7.7342542438,11137.326111,0.00039930554425,0.57499998372,232.02762731,334119.78333\r

In [15]:
dogs.to_csv("dogs.csv")

In [ ]:
query1 = pd.read_sql_query("select gender,birthday,breed,weight from dogs where breed_group = 'Sporting'",engine1)
query1.head()

In [15]:
 pd.read_sql_query("desc students",engine1)

        Field      Type Null Key Default Extra
0        Roll    int(3)  YES        None
1        Name  char(10)  YES        None
2   Phy_marks    int(3)  YES        None
3  Chem_marks    int(3)  YES        None
4  Department  char(10)  YES        None

### Connecting to a Local Database

In [56]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:root@localhost:3306/test')

In [57]:
stud = pd.read_sql_table('Student',engine)
stud

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 111] Connection refused)") (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
stud1 = pd.read_sql_table('Student', engine, columns=["name"])
stud1

In [ ]:
df = pd.read_sql_query("select id,name from customers",engine)
df

In [ ]:
query = '''
 SELECT *
 FROM test.Student INNER JOIN test.Dept
 ON test.Student.dept=test.Dept.deptname;
'''
df = pd.read_sql_query(query,engine)
df

In [ ]:
pd.read_sql("Stduent",engine)

In [ ]:
pd.read_sql(query,engine)