# Pandas

# file Read Write operation

In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(precision=4)

In [4]:
import pandas as pd

draft1 = pd.read_csv('D:\code_pandas1\examples\ex1.csv')    # Supply the file name (path)

draft1.head(4)

FileNotFoundError: File b'D:\\code_pandas1\\examples\\ex1.csv' does not exist

In [74]:
draft2 = pd.read_table('/Users/sudhanshukumar/Downloads/examples/test.tsv')  # Read a tsv into a DataFrame

draft2.head()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [75]:
df = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [76]:
pd.read_table('/Users/sudhanshukumar/Downloads/examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [79]:
df =pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex2.csv', names=['asdfdsfs','fsdf', 'b', 'c', 'sudh', 'message'])
type(df)

pandas.core.frame.DataFrame

In [80]:
!cat /Users/sudhanshukumar/Downloads/examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [9]:

parsed = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [84]:
!cat /Users/sudhanshukumar/Downloads/examples/ex4.csv
pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex4.csv', skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [85]:
!cat /Users/sudhanshukumar/Downloads/examples/ex5.csv
result = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex5.csv')
result
pd.isnull(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [12]:
result = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [87]:
draft3 = pd.read_excel('/Users/sudhanshukumar/Downloads/Transactions_Zenapt.xlsx',sheetname = 'Expense') # Name of sheet to read from

draft3.head(6)

,Date,Description,Category,Cost,Invoice/Agreement present,GST number present in the invoice/ TDS Deducted,Payment details
0,MM-DD-YYYY,Recipt Name,-,INR,Yes or No,Yes or No,"Directors Account(Name),Others Account(Name of..."
1,2017-02-11 00:00:00,Domain Zenapt.In,General,904,Yes,No,Others Account(Jugal Kishore Agarwal)
2,2018-02-11 00:00:00,Franchisee License Fee,General,118000,Yes,No,Others Account(Dibyanshu Kumar)
3,2018-02-01 00:00:00,Company Registration,General,26000,Yes,No,Others Account(Priyambada Baliase)
4,2018-03-01 00:00:00,Carpenter material,Furniture,44200,Partly,No,Others Account(Jugal Kishore Agarwal)
5,2018-02-17 00:00:00,Reddy Deposit,Rent,175000,Yes,No,Directors Account(Jugal Kishore Agarwal)

In [88]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"

BB_data = pd.read_html(url)         # Read data from the specified url

BB_data[0].ix[:, 0:20].head(5)      # Check 5 rows (10 columns only)

/Users/sudhanshukumar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,.459,18,60,.300,134,271,.494,.486,76,97
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,.407,10,25,.400,25,61,.410,.465,14,23
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,.544,0,2,.000,217,397,.547,.544,103,205
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,.432,0,0,NaN,19,44,.432,.432,22,38
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,.424,118,333,.354,257,551,.466,.491,167,198

In [89]:
titanic_train = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",
                           sep='\t')

In [91]:
titanic_train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [93]:
titanic_train[["Name","Pclass"]].head()

                                                Name  Pclass
0                            Braund, Mr. Owen Harris       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       1
2                             Heikkinen, Miss. Laina       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
4                           Allen, Mr. William Henry       3

In [18]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [19]:
pd.options.display.max_rows = 10

In [94]:
result = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [95]:
pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [22]:
chunk = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex6.csv', chunksize=1000)
chunk

Writing Data to Text Format

In [97]:
data = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [98]:
data.to_csv('/Users/sudhanshukumar/Downloads/out.csv')
!cat /Users/sudhanshukumar/Downloads/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [103]:
import sys
data.to_csv('/Users/sudhanshukumar/Downloads/out1.csv', sep='@')

In [104]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [106]:
data.to_csv('/Users/sudhanshukumar/Downloads/out2.csv', index=False, header=False)

In [107]:
data.to_csv('/Users/sudhanshukumar/Downloads/out3.csv', index=False, columns=['a', 'b', 'c'])

In [109]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('/Users/sudhanshukumar/Downloads/examples/tseries.csv')
!cat /Users/sudhanshukumar/Downloads/examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

Working with Delimited Formats

In [111]:
import csv
f = open('/Users/sudhanshukumar/Downloads/examples/ex7.csv')

reader = csv.reader(f)
reader

In [112]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [113]:
with open('/Users/sudhanshukumar/Downloads/examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [114]:
header, values = lines[0], lines[1:]

In [34]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

JSON Data

In [115]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [120]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [118]:
asjson = json.dumps(result)

In [122]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age','pets'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [123]:
!cat /Users/sudhanshukumar/Downloads/examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [40]:
data = pd.read_json('/Users/sudhanshukumar/Downloads/examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [41]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

XML and HTML: Web Scraping

In [126]:
tables = pd.read_html('/Users/sudhanshukumar/Downloads/examples/fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [129]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()
#close_timestamps

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

# Binary Data Formats

In [132]:
frame = pd.read_csv('/Users/sudhanshukumar/Downloads/examples/ex1.csv')
frame
frame.to_pickle('/Users/sudhanshukumar/Downloads/examples/frame_pickle')

In [133]:
pd.read_pickle('/Users/sudhanshukumar/Downloads/examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [141]:
!rm /Users/sudhanshukumar/Downloads/examples/frame_pickle

rm: /Users/sudhanshukumar/Downloads/examples/frame_pickle: No such file or directory

Using HDF5 Format

In [142]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [143]:
store['obj1']

           a
0   1.212260
1   1.438855
2  -0.426525
3   2.774679
4   1.090206
..       ...
95  2.261248
96 -1.936576
97  0.327743
98 -0.567130
99 -1.563750

[100 rows x 1 columns]

In [144]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [145]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0  1.212260
1  1.438855
2 -0.426525
3  2.774679
4  1.090206

# Web APIs

In [146]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [150]:
data = resp.json()
data[2]['user']

{'login': 'erfannariman',
 'id': 34067903,
 'node_id': 'MDQ6VXNlcjM0MDY3OTAz',
 'avatar_url': 'https://avatars2.githubusercontent.com/u/34067903?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/erfannariman',
 'html_url': 'https://github.com/erfannariman',
 'followers_url': 'https://api.github.com/users/erfannariman/followers',
 'following_url': 'https://api.github.com/users/erfannariman/following{/other_user}',
 'gists_url': 'https://api.github.com/users/erfannariman/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/erfannariman/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/erfannariman/subscriptions',
 'organizations_url': 'https://api.github.com/users/erfannariman/orgs',
 'repos_url': 'https://api.github.com/users/erfannariman/repos',
 'events_url': 'https://api.github.com/users/erfannariman/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/erfannariman/received_events',
 'type': 'User',
 'site_admin': False}

In [151]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,29270,"Reduce Benchmark Times of stat_ops, particular...","[{'id': 732775912, 'node_id': 'MDU6TGFiZWw3MzI...",open
1,29269,Add simple test for GH 28448,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
2,29268,Named aggregations with multiple columns,[],open
3,29267,"API: public way to get the ""best values"" of a ...","[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
4,29266,BLD: ABCSeries mapper maps unmapped categories...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
...,...,...,...,...
25,29229,API/DOC: an ExtensionDtype.__from_arrow__ meth...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
26,29227,Replace _has_complex_internals with isinstance...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
27,29224,Period index 29204,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
28,29223,CI: include pyarrow 0.15.0 / latest release in...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
29,29218,ENH: Show column name in assert_frame_equal,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open

# Interacting with Databases

In [153]:
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database4.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists test")
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata2.sqlite')
con.execute(query)
con.commit()

In [154]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [155]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [157]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [158]:
#!/usr/bin/python

import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database5.db")
# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [159]:
db.commit()

In [160]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print((row))
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [161]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results: print(row)
print("-"* 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [162]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [163]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [164]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [67]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)